@page
@model IndexModel
@{
    ViewData["Title"] = "Мониторинг данных";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graviton-ECO</title>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <div class="main-content">
        <div class="left-panel">
            <table>
                <thead>
                    <tr>
                        <th>Параметр</th>
                        <th>Мин.</th>
                        <th>Макс.</th>
                        <th>Сред.</th>
                        <th>Текущ.</th>
                        <th>Порог 1</th>
                        <th>Порог 2</th>
                        <th>Нарастание</th>
                        <th>Период</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var param in Model.Parameters.Select((value, index) => new { value, index }))
                    {
                        <tr>
                            <td>@param.value.Name</td>
                            <td>@param.value.Min</td>
                            <td>@param.value.Max</td>
                            <td>@param.value.Average</td>
                            <td id="current-data-@param.index">@param.value.Current</td>

                            <!-- Поле ввода порога 1 -->
                            <td>
                                <input id="threshold1-data-@param.index" type="text" value="@param.value.Threshold1" class="numeric-input @(param.value.AlarmPorog1 ? "warning" : "")" pattern="\d*"
                                       onfocus="startEditing()" onblur="stopEditing()" onkeydown="submitValue(event, '@param.value.Name', 'Threshold1', this.value)" />
                            </td>

                            <!-- Поле ввода порога 2 -->
                            <td>
                                <input id="threshold2-data-@param.index" type="text" value="@param.value.Threshold2" class="numeric-input @(param.value.AlarmPorog2 ? "warning" : "")" pattern="\d*"
                                       onfocus="startEditing()" onblur="stopEditing()" onkeydown="submitValue(event, '@param.value.Name', 'Threshold2', this.value)" />
                            </td>

                            <!-- Поле ввода роста -->
                            <td>
                                <input id="growth-data-@param.index" type="text" value="@param.value.Growth" class="numeric-input @(param.value.AlarmPorog3 ? "warning" : "")" pattern="\d*"
                                       onfocus="startEditing()" onblur="stopEditing()" onkeydown="submitValue(event, '@param.value.Name', 'Growth', this.value)" />
                            </td>

                            <!-- Поле ввода периода -->
                            <td>
                                <input id="period-data-@param.index" type="text" value="@param.value.Period" class="numeric-input @(param.value.AlarmPorog3 ? "warning" : "")" pattern="\d*"
                                       onfocus="startEditing()" onblur="stopEditing()" onkeydown="submitValue(event, '@param.value.Name', 'Period', this.value)" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="right-panel">
            <table>
                <thead>
                    <tr>
                        <th>Параметр</th>
                        <th>Текущее</th>
                        <th>Уст.Нуля</th>
                        <th>Конц-я ПГС</th>
                        <th>Знач-е ПГС</th>
                        <th>Расчетный «0»</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Темпиратура</td>
                        <td>12</td>
                        <td><input type="text" value="" class="numeric-input" /></td>
                        <td><input type="text" value="" class="numeric-input" /></td>
                        <td><input type="text" value="" class="numeric-input" /></td>
                        <td><input type="text" value="" class="numeric-input" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="~/js/site.js"></script>
</body>
</html>
